*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", Sans-serif;
}

a{
  color: #222222;
}

a:hover{
  text-decoration: none;
}

li{
  list-style: none;
}

body{
  color: #222222;
}

img{
  width: 100%;
}

section{
  margin-bottom: 90px;
}

/* start navbar */

.navbar{
  padding: 20px 40px;
  background-color: white;
  z-index: 3333;
}

.navbar .collapse {
  justify-content: end;
}

.navbar-brand img{
  width: 250px;
}

.nav-item{
  padding: 0 20px;
}



.nav-item .nav-link{
  color: #222222 !important;
  position: relative;
  transition: all .3s ease-in-out;
}

.nav-item .nav-link::after{
  content: "";
  height: 2px;
  width: 100%;
  background-color: #ffee5a;
  position: absolute;
  bottom: -23px;
  left: 0;
  opacity: 0;
  transition: all .3s ease-in-out;

}

.nav-item:hover .nav-link{
  color: #ffee5a !important;
}

.nav-item:hover .nav-link::after{
  opacity: 1;
}

button:focus{
  outline: none !important;
}

@media (max-width:991px) {
  .nav-item .nav-link::after{
    bottom: 0;
  }

  .head{
    margin-top: 0 !important;
  }
}


@media (min-width:991px) {
  .navbar{
    position:fixed;top:0;right:0;left:0;
  }
}

/* end navbar */


/* start head */
.head{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 86px;
  background-image: url(../images/slider-1.png);
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0 20px;
}

.head .title h1{
  font-size: 30px;
  font-weight: 700;
}

.head .title h1 span{
  font-size: 120px;
  font-weight: 700;
}

.head .title .btn {
  width: 100%;
}

.btn a{
  background-color: #ffee5a;
  padding: 15px 30px;
  cursor: pointer;
  border: 0;
  transition: all .3s ease-in-out;
}

.btn a:hover{
  background-color: transparent;
  border: 1px solid black;
}

@media (max-width:991px) {
  .head .title h1 span{
    font-size: 80px;
    font-weight: 700;
  }  
}

/*end head*/

.about .title{
  padding: 50px 70px;
}

.about .title span{
  font-family: "Montserrat", Sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  font-style: normal;
  letter-spacing: 11px;
  text-shadow: 0px 0px 10px rgb(0 0 0 / 0%);
  color: #222222;
}

.about .title h1{
  color: #222222;
  font-family: "Montserrat", Sans-serif;
  font-size: 36px;
  font-weight: 800;
  text-transform: none;
  line-height: 1.2em;
  letter-spacing: -1.3px;
}

.about .title .one,.about .title .two{
  color: #222222;
  font-family: "Montserrat", Sans-serif;
  font-size: 14px;
  margin: 30px 80px;
  text-transform: none;
  font-style: normal;
  line-height: 2.1em;

}

.about .title .one{
  font-weight: 600;
  letter-spacing: 0.45px;
}

.about .title .two{
  opacity: .7;
  font-weight: 300;
  letter-spacing: 0.6px;
}

.about .num{
  margin: 30px 80px;
  display: flex;
  justify-content: space-around;
}

.about .num span{
  color: #222222;
  font-family: "Montserrat", Sans-serif;
  font-size: 48px;
  font-weight: 800;
  text-transform: none;
  font-style: normal;
  letter-spacing: 0px;
}

.about .num p{
  color: #222222;
  font-family: "Montserrat", Sans-serif;
  font-size: 14px;
  font-weight: 300;
  text-transform: none;
  font-style: normal;
  letter-spacing: 0.6px;
  opacity: .8;
}

.selling .title{
  text-align: end;
  margin: 80px 120px 0 0;
}

.selling .title h2{
  font-size: 48px;
  font-weight: 800;
  text-transform: none;
  font-style: normal;
  line-height: 1.2em;
  letter-spacing: -0.7px;
}


.selling .title p{
  margin-top: 30px;
  opacity: .8;
}

.selling .title .btn{
  margin-top: 50px;
}

.selling .title a{
  color: black;
}

.selling2 .img{
  background-color: black;
}

.selling2{
  margin-top: -250px;
}

.selling2 img{
  width: 100%;
}

.selling2 .title{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.selling2 .title h2{
  position: relative;
  font-size: 64px;
  font-weight: 800;
  text-transform: none;
  font-style: normal;
  letter-spacing: -1.2px;
  color: #222222;
}

.selling2 .title h2::after{
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3px;
  background-color: #222222;
  left: 0;
}

.Categories,.product{
  padding: 0 20px;
}

.Categories .header,.product .header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
}

.Categories .header h2, .product .header h2{
  font-size: 30px;
  font-weight: 800;
  text-transform: capitalize;
  font-style: normal;
  letter-spacing: -0.8px;
}

.Categories .header h5 ,.product .header h5{
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  font-style: normal;
  letter-spacing: 2.1px;
  color: #222222;
  transition: all .3s ease-in-out;
  cursor: pointer;
}
  
.Categories .header h5:hover, .product .header h5:hover{
  color: #ffee5a;
}

.img img{
  margin-bottom: 20px;
}

.Categories .img img{
  border: 1px solid #cbcbcb;
    overflow: hidden;
}

.Categories .img{
  position: relative;
}

.Categories .img h2{
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 45px;
  font-size: 24px;
  font-weight: 800;
  text-transform: none;
  font-style: normal;
  letter-spacing: 0px;
}

.Discount{
  position: relative;
}

.Discount .title{
  position: absolute;
  width: 100%;
  top: 20%;
}

.Discount .title img{
  width: 250px;
}

.Discount .title h1{
  font-family: "Slackey", Sans-serif;
  font-size: 70px;
  font-weight: 400;
  text-transform: capitalize;
  font-style: normal;
  letter-spacing: 0px;
  color: #222222;
}


.Discount .title p{
  opacity: .8;
}

.product .contact{
  height: 470px;
  padding: 60px 30px;
  overflow: hidden;
  border: solid 1px #eee;
  margin-bottom: 20px;
  transition: all .3s ease-in-out;
}

.product .contact img {
  width: 218px;
}

.product .title{
  position: relative;
  padding: 15px 0;
  background-color: white;
  z-index: 2;
  transition: all .3s ease-in-out;
}

.product .contact:hover .title{
  transform: translateY(-80px);
}

.product .title p{
  color: #a5a3a3;
  cursor: pointer;
  transition: all .3s ease-in-out;
}

.product .title p:hover{
  color: #ffee5a;
}

.product .title h2{
  font-family: "Montserrat", Sans-serif;
    font-size: 16px;
    font-weight: 700;
}

.product .add{
  transform: translateY(65px);
  transition: all .3s ease-in-out ;
  transition-delay: .2s;

}

.product .add a{
  padding: 10px 20px;
  background-color: white;
  border: solid 1px #8b8a8a;
  color: #8b8a8a !important;
  transition: all .3s ease-in-out;
}

.product .add:hover a{
  border: solid 1px #ffee5a;
  color: #ffee5a !important;
}

.product .icon{
  margin-bottom: 20px;
  transform: translateY(65px);
  transition: all .3s ease-in-out;
  transition-delay: .1s;
}

.product .icon span i{
  color: #ffee5a;
}

.product .contact:hover .icon{
  transform: translateY(-60px);
}

.product .contact:hover .add{
  transform: translateY(-60px);
}

.product .contact:hover{
  box-shadow: 0px 0px 10px #bfbbbb;
}

.code{
  margin-bottom: 60px;
}

.code img{
  padding: 40px;
  transition: all .3s ease-in-out;
}

.code img:hover{
  transform: scale(1.2);
}

.product2 .contact{
  padding: 0 !important;
  border: none;
}

.product2 .contact img{
  width: 100%;
}

.product2 .contact .title2{
  padding: 20px;
}

.product2 .contact .title2 .p1{
  opacity: .8;
  transition: all .3s ease-in-out;
  cursor: pointer;
}

.product2 .contact .title2 .p1:hover{
  color: #ffee5a;
}

.product2 .contact .title2 .p2{
  opacity: .6;
  font-size: 14px;
}

.contact-me{
  background-color: #ffee5a;
  padding: 80px 0;
}

.contact-me h2{
  color: #222222;
  font-size: 36px;
  font-weight: 800;
}

.contact-me h3{
  font-size: 25px;
}

.contact-me .gg{
  display: flex;
  align-items: center;
}

.contact-me input{
  width: 100%;
  height: 60px;
  background-color: transparent;
  padding: 0 30px;
  border: solid .5px black;
}

footer h3{
  margin-bottom: 20px;
  font-size: 20px;
}

.k li{
  display: flex;
  justify-content: space-between;
}

footer li{
  cursor: pointer;
  opacity: .7;
  margin-bottom: 16px;
  transition: all .3s ease-in-out;
}

footer li:hover{
  color: #ffee5a;
}

footer i{
  margin-right: 20px;
}