body {
  font-family: rubik,sans-serif;
  color: #a0a6ad;
  font-size: 14px;
  font-weight: 400;
  background: #fff;
  overflow-x: hidden;
  height: auto;
  overflow:hidden;
}

.loading-overflow{
display: flex;
align-items: center;
  background: black;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
}

.loading-overflow h1{
  color: #fff;
}

.loader {
  margin: 100px auto;
  font-size: 25px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  -webkit-animation: load5 1.1s infinite ease;
  animation: load5 1.1s infinite ease;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
@-webkit-keyframes load5 {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #ffffff, 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.5), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.7), 1.8em -1.8em 0 0em #ffffff, 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.5), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7), 2.5em 0em 0 0em #ffffff, 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5), 2.5em 0em 0 0em rgba(255, 255, 255, 0.7), 1.75em 1.75em 0 0em #ffffff, 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.5), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.7), 0em 2.5em 0 0em #ffffff, -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.5), 0em 2.5em 0 0em rgba(255, 255, 255, 0.7), -1.8em 1.8em 0 0em #ffffff, -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.5), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.7), -2.6em 0em 0 0em #ffffff, -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.5), -2.6em 0em 0 0em rgba(255, 255, 255, 0.7), -1.8em -1.8em 0 0em #ffffff;
  }
}
@keyframes load5 {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #ffffff, 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.5), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.7), 1.8em -1.8em 0 0em #ffffff, 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.5), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7), 2.5em 0em 0 0em #ffffff, 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5), 2.5em 0em 0 0em rgba(255, 255, 255, 0.7), 1.75em 1.75em 0 0em #ffffff, 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.5), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.7), 0em 2.5em 0 0em #ffffff, -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.5), 0em 2.5em 0 0em rgba(255, 255, 255, 0.7), -1.8em 1.8em 0 0em #ffffff, -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.5), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.7), -2.6em 0em 0 0em #ffffff, -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.5), -2.6em 0em 0 0em rgba(255, 255, 255, 0.7), -1.8em -1.8em 0 0em #ffffff;
  }
}



*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: poppins,sans-serif;
    scroll-behavior: smooth;
}

.justify-content-center{
    justify-content: center;
}

.row{
    display: flex;
    margin-left: -15px;
    margin-right: -15px;
    height: auto;
    position: relative;
}

.container {
    width: 100%;
    height: auto;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
}

a:hover{
    text-decoration: none;
}

li{
    list-style: none;
}

p {
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    color: #8a8fa3;
    margin: 0;
    font-family: poppins,sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: poppins,sans-serif;
    font-size: 40px;
    font-weight: 400;
    color: #151948;
}

.text-center{
    text-align: center;
}

.float-left{
    float: left;
}

.align-items-center {
    -ms-flex-align: center!important;
    align-items: center!important;
}

.flex {
    display: -ms-flexbox!important;
    display: flex!important;
}

@media (max-width: 576px){

   .carousel{
      width: 85% !important;
   }

  .navbar-collapse{
     position: absolute;
     width: 100% !important;
     margin-top: 25px !important;
  }


.navbar-collapse > ul{
   max-height: 0;
   padding-top: 0 !important;
   display: block !important;
   position: absolute;
   width: 100%;
   color: red;
   padding-left: 15px;
   background: #f4f6f7;
}

.navbar-btn{
   display: none;
}

.pricing {
    padding: 0px !important;
}

}

@media (min-width: 576px){

  .container {
      max-width: 540px;
    }

.navbar-collapse{
   width: 100% !important;
}

   .navbar-collapse > ul{
    max-height: 0;
    padding-top: 0 !important;
    margin-top: 10px;
    position: absolute;
    display: block !important;
    width: 100%;
    color: red;
    padding-left: 15px;
    background: #f4f6f7;
}

 .navbar-collapse > ul > li > a{
    color: black;
}

}

@media (max-width: 768px){


  .about-content ul li{
    margin-bottom: 10px;
    width: 100% !important ;
    float: none !important;

  }
}


@media (min-width: 768px){

  .container {
    max-width: 720px;
  }

  .carousel{
     width: 70% !important;
}

  .navbar-collapse{
     width: 100%;
     margin-top: 30px !important;
     flex-basis: 0%;
     position: absolute;
}
 .navbar-collapse > ul{
    max-height: 0;
    padding-top: 0;
    margin-top: 0px;
    position: absolute;
    display: block !important;
    width: 100%;
    color: red;
    padding-left: 15px;
    background: #f4f6f7;
}

  .navbar-collapse > ul > li > a{
    color: black;
}

}

@media (max-width: 992px){

    .home{
        padding-top: 0 !important;
    }
  .a{
    color: black !important;
  }

  .button{
     opacity: 0;
  }

  .navbar{
    padding-top: 16px !important;
  }

  .head-img{
    display: none;
  }

  .navbar-collapse > ul > li > a{
    padding: 12px 0 !important;
  }

}


@media (min-width: 992px){
  .container {
     max-width: 960px;
  }

  .navbar{
    padding-top: 0px !important;
  }

  .navbar-collapse{
     width: 81% !important ;
     margin-top: -4px !important;
     position: relative;
  }

  .navbar-collapse > ul{
     display: flex !important;
     justify-content: space-between;
     width: 78%;
     background-color: transparent;
     position: static;
     max-height: unset !important;
     transition: none;
     padding-right: 20px;
  }

  .navbar-collapse > ul > li > a{
     color: #fff ;
  }

  .ss{
     display: none !important;
  }


}

@media (min-width: 1200px){
  .container {
       max-width: 1140px;
  }
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2,
.col-3, .col-4, .col-5, .col-6, .col-7, .col-8,
.col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10,
.col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3,
.col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7,
.col-lg-8, .col-lg-9, .col-lg-auto, .col-md,
.col-md-1, .col-md-10, .col-md-11, .col-md-12,
.col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6,
.col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm,
.col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2,
.col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7,
.col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1,
.col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3,
.col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8,
.col-xl-9, .col-xl-auto {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.navbar-area{
    position: absolute;
    width: 100%;
    height: 70px !important;
    box-shadow: 0px 0px 29px 0px rgba(134, 134, 134, 0.25);
    background: #fff;
    z-index: 23;
}

.navbar{
     position: relative;
     display: flex;
     width: 100%;
}

.navbar-logo{
     margin-bottom: 12px;
}

.navbar-collapse{
     width: 81%;
     margin-top: -4px;
}

.navbar-collapse > ul{
     display: flex;
     float: right;
     justify-content: space-between;
     padding-top: 18px;
     overflow: hidden;
     transition: all 0.3s linear;
}

.navbar-collapse > ul > li{
     list-style: none;
}

.navbar-collapse > ul > li > a{
     font-size: 15px;
     line-height: 24px;
     font-weight: 700;
     padding: 26px 0;
     color: #8a8fa3;
     text-transform: uppercase;
     position: relative;
     opacity: 1;
}

.active{
     color: #754ef9 !important;
}

.navbar-collapse > ul > li > a:hover{
     color: #754ef9;
}

.navbar-collapse > ul > li > a::before{
     position: absolute;
     content: '';
     width: 100%;
     height: 4px;
     background:#754ef9;
     left: 50%;
     margin: 0 2px;
     bottom: 14px;
     transition: all .3s ease-out 0s;
     transform: translate(0%) scaleX(0);
}

.navbar-collapse > ul > li > a:hover::before{
     transform: translate(-50%) scaleX(1);
}

.ss{
    position: absolute;
    right: 0;
    padding-bottom: 15px;
    cursor: pointer;
    display: block;
}

#s{
    margin-top: -4px;
}

.toggler-icon{
    display: block;
    background-color: black;
    width: 30px;
    height: 2px;
    margin-bottom: 5px;
    transform: rotate(0);
    transition: all .3s ease-in-out;
}

.one{
    transform: rotate(45deg);
    position: absolute;
    top: 7px;
}

.tow{
    opacity: 0;

}

.there{
    transform: rotate(135deg);
    position: absolute;
}

#phone{
    background-color: #005ad5;
}

.home{
    background-color: #fbfbfb;
    padding-top: 150px;
}

.header-content{
    padding-top: 180px;
    margin-bottom: 80px;
}

.header-content .sub-title {
    font-size: 30px;
    color: #754ef9;
    text-transform: uppercase;
    padding-bottom: 15px;
}

.header-content .title {
    font-size: 60px;
    text-transform: uppercase;
    padding-bottom: 15px;
}

.header-content p {
    padding-bottom: 40px;
}

.main-btn {
    display: inline-block;
    font-weight: 700;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid #754ef9;
    padding: 0 40px;
    font-size: 15px;
    line-height: 48px;
    border-radius: 50px;
    color: #fff;
    cursor: pointer;
    z-index: 5;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
    -webkit-box-shadow: 0px 5px 8px 0px rgba(118, 78, 249, 0.55);
    -moz-box-shadow: 0px 5px 8px 0px rgba(118, 78, 249, 0.55);
    box-shadow: 0px 5px 8px 0px rgba(118, 78, 249, 0.55);
    background-color: #754ef9;
    text-transform: uppercase;
}

.main-btn:hover {
    background-color: #fff;
    color: #754ef9;
    border-color: #754ef9;
}

.head-img {
    max-width: 430px;
    margin: 0 auto;
    position: relative;
}

.head-img > img {
    position: relative;
}

.head-img::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 82%;
    border: 20px solid #754ef9;
    border-bottom: 0;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.head-img::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 20px;
    background-color: #754ef9;
    left: 0;
    bottom: 58px;
    z-index: 11;
}

.header-social .header-social-icon ul li:first-child {
    margin-left: 0;
}

.head-social-icon ul{
    display: flex;
}

.head-social-icon ul li {
    cursor: pointer;
    color: #ccc;
    font-size: 20px;
    width: 40px;
    height: 40px;
    margin-right: 15px;
    line-height: 40px;
    border-radius: 50%;
    border: 1px solid #ccc;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
    text-align: center;
}

.head-social-icon ul li:hover {
    color: #fff;
    background-color: #754ef9;
    border-color: #754ef9;
}

.head-social-icon ul li:hover i {
    color: #fff;
}

.about-area{
    padding: 100px 0;
}

.section-title .title {
    font-weight: 700;
    font-size: 45px;
    color: #000;
    padding-bottom: 20px;
}

.about-content {
    margin-top: 50px;
}

.about-skills,.skill-item{
  margin-top: 25px;
}

.about-content .about-title {
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 15px;
}

.about-content ul {
    padding-top: 15px;
}

.about-content ul li {
    width: 50%;
    float: left;
    margin-top: 5px;
}

i{
   color: #754ef9;
}

.about-content .single-info .info-icon i {
    font-size: 16px;
    color: #754ef9;
}

.about-content .single-info .info-text {
    padding-left: 13px;
}

.about-content .single-info .info-text p span {
    color: #32333c;
}

.about-skills .skill-item .skill-header {
    position: relative;
}

.about-skills .skill-item .skill-header .skill-title {
    font-size: 16px;
    font-weight: 400;
}

.about-skills .skill-item .skill-header .skill-percentage {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 16px;
    color: #32333c;
    font-weight: 400;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}

.about-skills .skill-item .skill-header .skill-percentage .count-box {
    font-size: 16px;
    color: #32333c;
}

.about-skills .skill-item .skill-bar {
    margin-top: 15px;
}

.about-skills .skill-item .skill-bar .bar-inner {
    width: 100%;
    height: 5px;
    border-radius: 5px;
    background-color: #d9d9d9;
    position: relative;
}



.about-skills .skill-item .skill-bar .bar-inner .progress-line {
    position: absolute;
    width: 0%;
    top: 0;
    left: 0;
    height: 5px;
    border-radius: 5px;
    background-color: #754ef9;
    -webkit-transition: all 2s ease-out 0s;
    -moz-transition: all 2s ease-out 0s;
    -ms-transition: all 2s ease-out 0s;
    -o-transition: all 2s ease-out 0s;
    transition: all 2s ease-out 0s;
}

.service-area{
    background: #fbfbfb;
    padding: 100px 0;
}

.section-title {
    margin-bottom: 30px;
}

.single-service {
    background-color: #fff;
    border: 1px solid #eceff8;
    border-radius: 5px;
    padding: 25px;
    margin-top: 30px;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

.single-service:hover {
    -webkit-box-shadow: 0px 0px 21px 0px rgba(152, 152, 152, 0.23);
    -moz-box-shadow: 0px 0px 21px 0px rgba(152, 152, 152, 0.23);
    box-shadow: 0px 0px 21px 0px rgba(152, 152, 152, 0.23);
}

.single-service .service-icon i {
    font-size: 40px;
    color: #754ef9;
    line-height: 56px;
}

.single-service .service-content {
    margin-top: 11px;
}

.service-title{
    font-size: 22px;
    margin-bottom: 0;
}

.service-title a {
    font-size: 22px;
    font-weight: 600;
    color: #32333c;
    margin-bottom: 20px;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

.service-title a:hover {
    color: #754ef9;
}

.call-to-action{
    position: relative;
    padding: 93px 0;
    background-image: url(../images/call-to-action.jpg);
}

.call-to-action::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(117, 78, 249, 0.7);
    z-index: 0;
}

.call-to-action-title .title {
    font-size: 45px;
    font-weight: 700;
    color: #fff;
    padding-bottom: 30px;
}

.call-to-action-title > p{
    color: #fff;
    padding-bottom: 25px;

}

.call-to-action ul li .main-btn {
    width: 180px;
    padding: 0;
}

.call-to-action ul li .main-btn.custom {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background-color: #fff;
    color: #754ef9;
    border-color: #fff;
}

@media (max-width:991px) {
    .navbar-collapse > ul{
        margin-top: 10px !important;
    }
}

.call-to-action ul li .main-btn.custom:hover {
    background-color: #754ef9;
    color: #fff;
    border-color: #754ef9;
}

.call-to-action ul li {
    display: inline-block;
    margin: 10px 15px 0;
}

.call-to-action ul li .main-btn.custom-2 {
    color: #fff;
    background-color: transparent;
    border-color: #fff;
}

.call-to-action ul li .main-btn.custom-2:hover {
    background-color: rgba(255, 255, 255, 0.5);
    color: #fff;
    border-color: #fff;
}

.work-area {
    padding: 100px 0;
}

.single-work {
    position: relative;
    margin-top: 30px;
}

.work-img > img {
    width: 100%;
}


.single-work .work-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(117, 78, 249, 0.8);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

.single-work .work-overlay .work-content {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.single-work .work-overlay .work-content .work-title {
    font-size: 22px;
    color: #fff;
    font-weight: 60;
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
    margin-bottom: 15px;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
    opacity: 0;
}

.single-work .work-overlay .work-content ul {
    position: relative;
    padding-top: 20px;
    text-align: center;
}

.single-work .work-overlay .work-content ul::before {
    position: absolute;
    content: '';
    width: 60px;
    height: 2px;
    background-color: #fff;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    top: 0;
}

.single-work .work-overlay .work-content ul li {
    display: inline-block;
    margin: 0 15px;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
    opacity: 0;
}

.single-work .work-overlay .work-content ul li:nth-of-type(1) {
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
}

.single-work .work-overlay .work-content ul li a {
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 25px;
    color: #fff;
    border-radius: 50%;
    border: 1px solid #fff;
    text-align: center;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

.single-work .work-overlay .work-content ul li a i {
    color: #fff;
}

.single-work .work-overlay .work-content ul li:nth-of-type(2) {
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
}

.single-work:hover .work-overlay {
    opacity: 1;
    visibility: visible;
}

.single-work:hover .work-overlay .work-content ul li {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
}

.work-more{
    margin-top: 50px;
}

.pricing{
  background: #fbfbfb;
  padding: 100px;
}
.single-pricing{
  margin-top: 30px;
}

.single-pricing.active{
  -webkit-box-shadow: 0px 0px 21px 0px rgba(152, 152, 152, 0.23);
  -moz-box-shadow: 0px 0px 21px 0px rgba(152, 152, 152, 0.23);
  box-shadow: 0px 0px 21px 0px rgba(152, 152, 152, 0.23);

}

.single-pricing .pricing-package {
  background-color: #754ef9;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.single-pricing .pricing-package .package-title {
  font-size: 22px;
  color: #fff;
  padding: 25px;
  margin: 0;
}

.single-pricing .pricing-body {
  border: 1px solid #ddd;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.single-pricing .pricing-body .pricing-text {
  border-bottom: 1px solid #ddd;
  padding: 20px 25px;
}

.single-pricing .pricing-body .pricing-text .price {
  font-size: 30px;
  font-weight: 600;
  color: #754ef9;
  padding-top: 15px;
}

.single-pricing .pricing-body .pricing-list {
  padding-top: 30px;
}

.single-pricing .pricing-body .pricing-list ul li {
  line-height: 36px;
  color: #32333c;
  font-size: 18px;
}

.single-pricing .pricing-body .pricing-btn {
  padding-top: 25px;
  padding-bottom: 40px;
}

.single-pricing .pricing-body .pricing-btn .reverse {
  background-color: #fff;
  color: #754ef9;
}

.single-pricing .pricing-body .pricing-btn .reverse:hover {
  color: #fff;
  background-color: #754ef9;
}
.blog-area{
    padding: 100px 0;
}

.single-blog {
    position: relative;
    border-radius: 5px;
    margin-top: 30px;
    overflow: hidden;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(152, 152, 152, 0.25);
    -moz-box-shadow: 0px 0px 15px 0px rgba(152, 152, 152, 0.25);
    box-shadow: 0px 0px 15px 0px rgba(152, 152, 152, 0.25);
}

.blog-img > img{
    width: 100%;
    border-radius: 5px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.single-blog:hover .blog-img > img{
    transform: scale(1.2);
}

.blog-content{
    position: absolute;
    width: 75%;
    padding: 25px;
    left: 0;
    bottom: 0;
    background-color: #fff;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.blog-content h4{
    font-size: 24px;
    font-weight: 600;
    margin: 0;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.blog-content > p{
    margin-top: 2px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.single-blog:hover .blog-content {
    background-color: #754ef9;
}

.single-blog:hover .blog-content h4{
    color: #fff;
}

.single-blog:hover .blog-content p{
    color: #fff;
}

.blog-more{
     margin-top: 50px;
}

.footer-widget{
     background-color: #152136;
     padding: 130px 0;
}

.footer-content p {
    color: #fff;
    margin-top: 35px;
}

.footer-content ul {
    margin-top: 35px;
}

.footer-content ul li {
    display: inline-block;
    margin: 0 14px;
}

.footer-content ul li  {
    font-size: 30px;
    width: 74px;
    height: 70px;
    line-height: 74px;
    text-align: center;
    border-radius: 50%;
    margin-bottom: 15px;
    cursor: pointer;
    background-color: #1c2940;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

.footer-content ul li i {
    color: #bebebe;
}

.footer-content ul li:hover {
    background-color: #754ef9;
}

.footer-content ul li:hover i {
    color: #fff;
}

.footer-copyright {
    background-color: #1c2940;
}

.copyright-text{
    margin: 20px 0;
}

.copyright-text > p{
    color: #fff;
}

.contact-area{
    padding: 100px 0;
    background: #fbfbfb;
}

.contact-box {
    background-color: #fff;
    border: 1px solid #ddd;
    margin-top: 30px;
    padding: 30px 35px;
    margin-bottom: 25px;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

.contact-box:hover {
    -webkit-box-shadow: 0px 0px 21px 0px rgba(152, 152, 152, 0.23);
    -moz-box-shadow: 0px 0px 21px 0px rgba(152, 152, 152, 0.23);
    box-shadow: 0px 0px 21px 0px rgba(152, 152, 152, 0.23);
}

.contact-box .contact-icon i {
    font-size: 48px;
    color: #754ef9;
}

.contact-box .contact-content {
    margin-top: 15px;
}

.contact-box .contact-content .contact-title {
    color: black;
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 15px;
    margin: 0;
}

.single-form , .gmap_canvas{
    margin-top: 25px;
}

.single-form > input,textarea {
    width: 100%;
    height: 55px;
    border-radius: 5px;
    border: 1px solid #ddd;
    padding-left: 25px;
    font-size: 19px;
    outline: 0;
}

.single-form input:focus, .single-form textarea:focus {
    border-color: #754ef9;
}

.single-form textarea {
    height: 135px;
    padding-top: 10px;
    resize: none;
}


.gmap_canvas{
    border: 10px solid #fff;
    border-radius: 5px;
}

.gmap_canvas > iframe{
    width: 100%;
    border: 10px solid #fff;
}
